<h1>Receipt</h1>
<p>Receipt</p>
<table>
<% if ! @receipt.nil? %>
<% @receipt.attributes.each do |k| %>
<tr><th><%=k[0]%></th><td><%=k[1]%></td></tr>

<% end%>
</table>
<%else%>
Process not complete.please reload <%=link_to "this page" ,"/wsdl/receipt" %> after some time
order <%= session[:order]%> terf <%= session[:tref]%>
<%end%>	

